.side-cart {
  max-width: 300px;
  border-left: 1px solid silver;
}

input.ng-invalid {
  border-color: red;
}

.container-fluid.mt-5 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
