<div class="container">
  <div id="items-list-container">
    <h3>Your items</h3>
    <ul class="list-group" id="items-list">
      <li class="list-group-item item" *ngFor="let item of items">
        <app-cart-item
          [item]="item"
          [vat]="vat"
          (onQuantityChange)="changeQuantity(item, $event)"></app-cart-item>
      </li>
    </ul>
  </div>

  <div class="mt-5">
    <h3>Order summary</h3>
    <div class="order-summary">
      <app-cart-summary [items]="items" [vat]="vat"></app-cart-summary>
    </div>
  </div>
</div>
