@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: 'Figtree', sans-serif;
}

body {
  background-color: #1e1e2e;
}

::selection {
  color: black;
  background: #a6e3a1;
}
